body{
    font-family: 'Poppins', sans-serif !important;
}

.navbar{
    border-bottom: rgb(218, 218, 218) solid 1px;
    background-color: white;
}

.nav-item{
    margin-right: 10px;
    text-decoration: none;
}

.nav-item:hover{
    color:rgb(240, 76, 103);
}

.nav-link{
    font-size: 14px;
    color: black;
}

.nav-item{
    font-size: 14px;
    color: black;
}

.navbar-nav{
    margin-left: 100px;
}
.collapse{
    font-size: 15px;
}

.right-nav-item{
    margin: 3px 8px 8px 8px;
}
.left-nav-item{
    margin: 3px 5px 5px 5px;
}

.fa{
    padding-right: 6px;
    font-size: 16px;
}
.dropdown-menu{
    font-size: 14px;
    min-width: 4rem !important;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 8px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: rgb(160, 160, 160);
}

.dropdown-toggle:hover{
    color: rgb(240, 76, 103);
}


/*Nav End*/

.navbar-brand1{
    color: black;
    font-size: 14px;
    width: 785px;
    margin-left: 100px;
    text-align: right;
}

#collapsibleNavbar{
    float: right;
    margin-right:60px;
    margin-top: 25px;
}

.nav-link{
    color: black;
    font-weight: 500;
    text-decoration-line: none;
    font-weight: 549;
}

.nav-link:hover{
    text-decoration-line: none;
    color: rgb(240, 76, 103);
}
#logo{
    padding-top: 20px;
    height: 80px;
}

.cart {
    font-size: 14px;
    color: black;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.cart:hover{
    color: rgb(240, 76, 103);
}

.cart .badge {
  position: absolute;
  top: -8px;
  right: -5px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.carousel-control-next-icon {
    background-color: rgb(189, 176, 176);
}

.carousel-control-prev-icon{
    background-color: rgb(189, 176, 176);
}

.carousel-caption{
    color: rgb(56, 56, 56);
    text-align: left;
    padding-bottom: 11.25rem;
}

.carousel-button{
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(240, 76, 103);
    color: white;
}

.carousel-button:hover{
    background-color: white;
    color: rgb(240, 76, 103);
    border:rgb(240, 76, 103) solid 1px;
}

.outfit-img{
transition: transform .2s;
}

.outfit-img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05); 
}

#banner{
    position: relative;
}

#banner_image{
    width: 100%;
    max-height: 150px;
}

#banner a{
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-weight: 200;
}

.banner-content{
    position: absolute; 
    bottom: 80px;
    margin-left:330px; 
    transition: 0.3s;
    color:rgb(46, 46, 46);
    width: 95%;
    text-align: left;
}


.nav3{
    text-decoration: none;
    padding: 18px;
    color: rgb(56, 55, 55);
}

.nav3:hover{
    color: rgb(240, 76, 103);
}

/* The Shoppin Row */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4{
    flex-basis: 20%;
    padding: 1px;
    max-width: 300px;
    min-height: 350px;
    margin-bottom: 50px;
    margin-left: 1px;
    margin-right: 1px;
    border:none;
    box-shadow: 1px 1px 5px #888888;

}

.col-4:hover{
    cursor: pointer;
}

.col-4 img{
    width: 100%;
    transition: transform .2s;
}
.col-4 img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05); 
}

.ratings{
    color: gold;
}


/*Exclusive Image */
#banner1{
    position: relative;
}

#banner_image1{
    width: 100%;
    max-height: 750px;
}

#banner1 a{
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-weight: 200;
}

.banner-content1{
    position: absolute; 
    bottom: 180px;
    margin-left:700px; 
    transition: 0.3s;
    color:rgb(46, 46, 46);
    width: 95%;
    text-align: left;
}

.banner1_button{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    color: white;
    background-color: rgb(240, 76, 103);
}

.banner1_button:hover{
    background-color: white;
    color: rgb(240, 76, 103);
    border: 1px solid rgb(240, 76, 103);
}

/* Sayings */
.clients{
    background-color: 	#faebd7;
    width: 100%;
    height: 400px;
    padding-top: 90px;
}

#say{
    padding-top: 20px;
}


/*Tiles Bottom */
.support{
    width: 100%;
    height: 330px;
}

.support .support-content{
    
    height: 330px;
    display: flex;
}

.support ,.support-content .support-section{
    flex: 1;
    padding: 45px;
    
    
}

.icon-support{
    color: #888888;
    font-size: 40px;
}

#line{
    padding-top: 30px;
    height: 200px;
    border-right: 1px solid rgb(218, 213, 213);
}

.fa-truck:before {
    margin-right: 31px;
}

.fa-money:before{
    margin-right: 31px;
}

.fa-headphones::before{
    margin-right: 31px;
}

.subscribe-container{
    background-color: rgb(240, 37, 71);
}

.subscribe-input{
    height: 50px;
    border: none;
    width: 400px;
}

.subscribe-input[type="text"]::placeholder{
    padding-left: 10px; 
}

.subscribe-button{
    width: 200px;
    border: none;
    background-color: rgb(36, 35, 35);
    color: white
}

.subscribe-button:hover{
    background-color: black;
}


/*Footer*/
.footer{
    background-color: black;
    color: rgb(201, 196, 196);
    height: 400px;
    position: relative;
}

.footer .footer-content{
   
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 45px;
    /* border: 1px solid white; */
}

.footer .footer-bottom{
    height: 50px;
    background-color: black;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    border-top: 1px solid grey;
}

.link-footer{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.help{
    padding: 45px;
}

.link-footer:hover{
    color:rgb(240, 37, 71);
}

.footer-link{
    text-decoration: none;
    color: white;
}

.footer-link:hover{
    color:rgb(240, 37, 71);
}